@model CategoryViewModel
@{
    ViewData["Title"] = "Category";
}
<h3>Category</h3>
@{
    var info=ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["Status"]))
    {
        <div class="alert alert-success" role="alert">
           @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}
<form action="/category/entry" method="post">

    <div class="mb-3 col-6">
        <label asp-for="Code" class="form-label">Code</label>
        <input type="text" asp-for="Code" class="form-control" readonly/>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" require />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Description" class="form-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" placeholder="Enter Name" requrie />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i>Save</button>
    <a href="/category/list" class="btn btn-warning"><i class="fa fa-window-close"></i>Cancel</a>
</form>