@model PhoneModelViewModel;
@{
    var error = ViewBag.Msg;
    if (error != null)
    {
        if (error.IsOccurError)
        {
            <div class="alert alert-danger">
                @error.Message
            </div>
        }
}
<h2>Model Entry Form</h2>
<form action="/phonemodel/entry" method="post">
    <div class="col-6 mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" class="form-control" placeholder="Enter Model Name" required/>
    </div>
    <div class="col-6 mb-3">
        <label for="Brand" class="form-label">Brand</label>
        <input type="text" name="Brand" class="form-control" placeholder="Enter Brand" required/>
    </div>
    <div class="col-6 mb-3">
        <label for="Specification" class="form-label">Specification</label>
        <input type="text" name="Specification" class="form-control" placeholder="Enter Specification" required />
    </div>
    <div class="col-6 mb-3">
        <label for="ReleaseDate" class="form-label">Release Date</label>
        <input type="date" name="ReleaseDate" class="form-control" placeholder="Enter Date" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/model/list" class="btn btn-warning">Cancel</a>
</form>
