@model ProductViewModel
<h2>Product Entry Form</h2>
<form action="/product/entry" method="post">
    <div class="mb-3">
        <label for="Type">Type</label>
        <input type="type" name="name" value="" />
    </div>
</form>