@model IList<SaleViewModel>
<h1>Sale View Information</h1>
<div class="mb-3">
    <a href="/sale/entry" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
</div>
<table class="table table-hover" id="saleTable">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Sale Date</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
    <tbody>
        @foreach(var sale in Model){
        <tr>
            <td>@i</td>
            <td>@sale.SaleDate.ToString("dd-MM-yyyy")</td>

            
            <td>
                    <a href="/sale/edit?id=@sale.Id" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                    <a href="javascript:void(0)" data-url="/sale/delete?id=@sale.Id" data-name="Sale" class="btn btn-danger delete-button"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#saleTable").DataTable();

        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            let url = $(this).data("url");
            let name = $(this).data("name");
            Swal.fire({
                title: 'Are you sure!',
                text: `You are about to delete "${name}".This Action can not be undone`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Success',
                        text: `You delete "${name}".`,
                        icon: 'success'
                        }).then(() => {
                            window.location.href = url;
                    });

                }
            });
        });
    });
</script>


