@model SupplierViewModel
@{
    ViewData["Title"] = "Supplier";
}
@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["Status"]))
    {
        <div class="alert alert-success">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @info
        </div>
    }
}
<h2>Supplier Entry Form</h2>
<form action="/supplier/entry" method="post">
    <div class="col-6 mb-3">
        <label asp-for="Code" class="form-label">Code</label>
        <input type="text" asp-for="Code" class="form-control" value="@Model.Code" readonly />
    </div>
    <div class="col-6 mb-3">
        <label class="form-label" asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter the Name" required/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-6 mb-3">
        <label class="form-label" asp-for="ContactInformation">Contact Information</label>
        <input type="text" asp-for="ContactInformation" class="form-control" placeholder="Enter the Contact Information" required />
        <span class="text-danger" asp-validation-for="ContactInformation"></span>
    </div>
    <div class="col-6 mb-3">
        <label class="form-label" asp-for="Address">Contact Information</label>
        <textarea type="text" asp-for="Address" class="form-control" rows="3" placeholder="Enter the Address" required ></textarea>
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    

    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>Save</button>
    <a href="/supplier/list" class="btn btn-warning"><i class="fa fa-window-close"></i>Cancel</a>
   
</form>
